// Tablets
@media (max-width: 768px) {
  #header-home {
    height: 30rem;
  }

  #home-b .content {
    padding: 1rem;
  }
}

// Smartphones
@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;

    li {
      padding: 1rem 0.4rem;
    }
  }

  #header {
    &-home {
      background-position: 20% 30%;
      height: 10rem;
      border-bottom: 3px solid $main-color;

      .header-content {
        display: none;
      }
    }

    &-inner {
      height: 10rem;
      // border-bottom: 3px solid $main-color;
    }
  }

  // Stack Grid Columns
  #home-a .specials,
  #about-d .testimonials,
  #contact-b .contact-info,
  .items {
    grid-template-columns: 1fr;
  }

  //  Home
  #home {
    &-a {
      .specials div {
        border-bottom: 1px solid $light-color;
        padding-bottom: 1rem;

        &:last-child {
          border: none;
          padding-bottom: 0;
        }
      }
    }
  }

  // About
  #about {
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "aw1"
          "aw2"
          "aw3";
      }
    }

    &-c {
      display: none;
    }
  }

  // Contact
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "subject"
          "email"
          "phone"
          "message";
      }
    }

    &-b {
      .contact-info div {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #555;

        &:last-child {
          border: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    &-c {
      h1 {
        font-size: 2rem;
      }
    }
  }

  // Scroll
  #scroll-to-top {
    display: none;
    position: fixed;
    bottom: 8rem;
    right: 0.75rem;
    z-index: 99;
    color: $main-color;
    cursor: pointer;
  }

  // Footer
  #main-footer {
    height: 7rem;

    .footer-content {
      flex-direction: column;
      height: 5rem;
      padding: 1rem;
    }
  }
}

// Landscape
@media (max-height: 580px) {
  #header-home {
    .header-content {
      padding-top: 3rem;

      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media (max-height: 330px) {
  #header-home {
    .header-content {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
